*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}

.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;
}